@use "@/styles/mixins.scss" as *;
@use "@/app.scss";


.parallax {
    width: 100%;
    height: 100vh; // 画面いっぱいに表示
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include mobile {
        height: 100vh; // スマホでも画面いっぱいにする
    }
    h1 {
        font-size: 100px;
        z-index: 3; // 最前面に配置
        position: absolute; // 確実に重ねる
        color: white;
        text-align: center;
    
        @include mobile {
            font-size: 70px;
            padding: 20px;
        }
    }
    
    .mountains, .planets, .stars {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center; // 画像の位置を中央にする
        background-repeat: no-repeat;
    }
    
    .mountains {
        z-index: 2; // `h1` の下に配置
        background-image: url("/bg-4.png");
        bottom: 0;
        left:0px;
        width:60%;
        height:60%;
        
    
        @include mobile {
            bottom: 0;
            background-size: cover;
        }
    }
    
    .planets {
        z-index: 1; // `mountains` のさらに下
        background-image: url("/bgb-2.webp");
        bottom: 0;
    
        @include mobile {
            bottom: 0;
            background-size: cover;
        }
    }
    
    .stars {
        z-index: 0; // 一番下の背景
        background-image: url("/bgb-2.webp");
        filter: brightness(50%);
        bottom: 0;
    
        @include mobile {
            bottom: 0;
            background-size: cover;
        }
    }
}


